*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Web{
    height: 700px;
    padding: 50px;
    background-color: #fdfdfd;
    background-image: url(../images/Hero-bg.png);
    font-family: sans-serif;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.ui{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 22px;
    font-weight: bold;
    color: rgba(0, 0, 255, 0.877);
    margin-left: 80px;
}
.content{
    text-align: center;
    margin-bottom: 100px;
}
.content h1{
    font-size: 40px;
    font-weight: bolder; 
    color: #222;
}
.btn{
    display: inline-block;
    padding: 12px 16px;
    background-color: rgba(0, 0, 255, 0.781);
    color: white;
    border-radius: 10px;
    font-size: 15px; 
}

.action{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 25px ;
    background-color: white;
    flex-wrap: wrap;
    gap: 50px;
}
.text{
    max-width: 430px;
    text-align: left;
}
.text h2{
    font-size: 30px;
    color:rgb(47, 79, 79);
    margin-bottom: 10px;
    font-weight: bolder;
}
.text p{
    font-size: 15px;
    color: rgb(128, 128, 128);
    margin-bottom: 20px;
}
.more{
    max-width: 350px;
    margin-right: 50px;
    border-radius: 30px;
}
.many{
    border-radius: 50px
}
.section-part{
    background-color: rgb(194, 194, 212);
    padding: 50px 0;
    border-radius: 24px;
    max-width: 1000px;
    margin: auto;
    text-align: center;
}
.section-box{
    box-shadow: #fcf8f8;
}
.section-content{
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 25px;
    color: rgb(10, 1, 1);
}
.stats-box{
    display: flex;
    justify-content: space-between;
    gap: 35px;
    flex-wrap: wrap;
    border-radius: 20px;
}
.single-box{
    flex: auto;
    min-width: 140px;
}
.single-box h3{
    font-size: 30px;
    color: rgb(2, 2, 248);
    margin-bottom: 4px;
}
.single-box p{
    font-size: 18px;
    font-weight: 200;
    color: rgb(196, 187, 187);
    margin: 0;
}
.reference{
    background-color: rgb(255, 255, 255);
    padding: 45px;
    text-align: center;
}
.reference h2{
    font-size: 22px;
    margin-bottom: 35px;
}
.reference-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
   
}
.reference-card{
    background-color: rgb(236, 234, 234);
    padding: 22px;
    border-radius: 10px;
    width: 280px;
   box-shadow: 0 1px 4px rgb(29, 28, 28);
   text-align: left;
   
}
.stars{
    margin-bottom: 10px;
   
}
.stars img{
    width: 18px;
    height: 18px;
    margin-right: 2px;
}
.reference-card h3{
    margin: 10px 1px;
    font-size: 18px;
    
}
.reference-card p{
    font-size: 15px;
    color: rgb(3, 18, 3);
}
.viewer img{
    width: 35px;
    height: 30px;
    border-radius: 20px;
    margin-right: 12px;
}